chooser.source=AVO Winston

helicorder=helicorder-1

helicorder-1.alertClip=false

helicorder-1.alertClipTimeout=300

helicorder-1.autoScale=true

helicorder-1.barMult=3.0

helicorder-1.barRange=368

helicorder-1.bottomTime=NaN

helicorder-1.channel=AUI EHZ AV

helicorder-1.clipBars=21

helicorder-1.clipValue=2577

helicorder-1.forceCenter=false

helicorder-1.h=750

helicorder-1.maximized=false

helicorder-1.pinned=false

helicorder-1.refreshInterval=15

helicorder-1.scrollSize=24

helicorder-1.showClip=true

helicorder-1.source=AVO Winston

helicorder-1.span=1440

helicorder-1.timeChunk=1800

helicorder-1.w=800

helicorder-1.wave.autoScaleAmp=true

helicorder-1.wave.autoScaleAmpMemory=true

helicorder-1.wave.autoScalePower=true

helicorder-1.wave.autoScalePowerMemory=true

helicorder-1.wave.fftSize=Auto

helicorder-1.wave.filter.corner1=1.0

helicorder-1.wave.filter.corner2=10.0

helicorder-1.wave.filter.order=4

helicorder-1.wave.filter.samplingRate=100.0

helicorder-1.wave.filter.type=B

helicorder-1.wave.filterOn=false

helicorder-1.wave.logFreq=false

helicorder-1.wave.logPower=true

helicorder-1.wave.maxAmp=1000.0

helicorder-1.wave.maxFreq=25.0

helicorder-1.wave.maxPower=40000.0

helicorder-1.wave.minAmp=-1000.0

helicorder-1.wave.minFreq=0.75

helicorder-1.wave.removeBias=true

helicorder-1.wave.spectrogramOverlap=0.2

helicorder-1.wave.viewType=W

helicorder-1.wave.zeroPhaseShift=true

helicorder-1.waveZoomOffset=30

helicorder-1.x=91

helicorder-1.y=10

map.h=653

map.maximized=false

map.panel.labelSetting=N

map.panel.latitude=59.356227735983815

map.panel.longitude=-153.41553120998552

map.panel.scale=13.405534092421748

map.panel.wave-0.activeChannel=AUSE EHZ AV

map.panel.wave-0.hash=-1.5339906759257002E7

map.panel.wave-0.settings.autoScaleAmp=true

map.panel.wave-0.settings.autoScaleAmpMemory=true

map.panel.wave-0.settings.autoScalePower=true

map.panel.wave-0.settings.autoScalePowerMemory=true

map.panel.wave-0.settings.fftSize=Auto

map.panel.wave-0.settings.filter.corner1=1.0

map.panel.wave-0.settings.filter.corner2=10.0

map.panel.wave-0.settings.filter.order=4

map.panel.wave-0.settings.filter.samplingRate=100.0

map.panel.wave-0.settings.filter.type=B

map.panel.wave-0.settings.filterOn=false

map.panel.wave-0.settings.logFreq=false

map.panel.wave-0.settings.logPower=true

map.panel.wave-0.settings.maxAmp=1000.0

map.panel.wave-0.settings.maxFreq=25.0

map.panel.wave-0.settings.maxPower=40000.0

map.panel.wave-0.settings.minAmp=-1000.0

map.panel.wave-0.settings.minFreq=0.75

map.panel.wave-0.settings.removeBias=true

map.panel.wave-0.settings.spectrogramOverlap=0.2

map.panel.wave-0.settings.viewType=W

map.panel.wave-0.settings.zeroPhaseShift=true

map.panel.wave-0.sizeIndex=3

map.panel.wave-0.x=338

map.panel.wave-0.y=304

map.panel.wave-1.activeChannel=AUE EHZ AV

map.panel.wave-1.hash=-1.5337666828855999E7

map.panel.wave-1.settings.autoScaleAmp=true

map.panel.wave-1.settings.autoScaleAmpMemory=true

map.panel.wave-1.settings.autoScalePower=true

map.panel.wave-1.settings.autoScalePowerMemory=true

map.panel.wave-1.settings.fftSize=Auto

map.panel.wave-1.settings.filter.corner1=1.0

map.panel.wave-1.settings.filter.corner2=10.0

map.panel.wave-1.settings.filter.order=4

map.panel.wave-1.settings.filter.samplingRate=100.0

map.panel.wave-1.settings.filter.type=B

map.panel.wave-1.settings.filterOn=false

map.panel.wave-1.settings.logFreq=false

map.panel.wave-1.settings.logPower=true

map.panel.wave-1.settings.maxAmp=1000.0

map.panel.wave-1.settings.maxFreq=25.0

map.panel.wave-1.settings.maxPower=40000.0

map.panel.wave-1.settings.minAmp=-1000.0

map.panel.wave-1.settings.minFreq=0.75

map.panel.wave-1.settings.removeBias=true

map.panel.wave-1.settings.spectrogramOverlap=0.2

map.panel.wave-1.settings.viewType=W

map.panel.wave-1.settings.zeroPhaseShift=true

map.panel.wave-1.sizeIndex=3

map.panel.wave-1.x=343

map.panel.wave-1.y=21

map.panel.wave-2.activeChannel=AUI EHZ AV

map.panel.wave-2.hash=-1.5342926765457999E7

map.panel.wave-2.settings.autoScaleAmp=true

map.panel.wave-2.settings.autoScaleAmpMemory=true

map.panel.wave-2.settings.autoScalePower=true

map.panel.wave-2.settings.autoScalePowerMemory=true

map.panel.wave-2.settings.fftSize=Auto

map.panel.wave-2.settings.filter.corner1=1.0

map.panel.wave-2.settings.filter.corner2=10.0

map.panel.wave-2.settings.filter.order=4

map.panel.wave-2.settings.filter.samplingRate=100.0

map.panel.wave-2.settings.filter.type=B

map.panel.wave-2.settings.filterOn=false

map.panel.wave-2.settings.logFreq=false

map.panel.wave-2.settings.logPower=true

map.panel.wave-2.settings.maxAmp=1000.0

map.panel.wave-2.settings.maxFreq=25.0

map.panel.wave-2.settings.maxPower=40000.0

map.panel.wave-2.settings.minAmp=-1000.0

map.panel.wave-2.settings.minFreq=0.75

map.panel.wave-2.settings.removeBias=true

map.panel.wave-2.settings.spectrogramOverlap=0.2

map.panel.wave-2.settings.viewType=W

map.panel.wave-2.settings.zeroPhaseShift=true

map.panel.wave-2.sizeIndex=3

map.panel.wave-2.x=322

map.panel.wave-2.y=487

map.panel.wave-3.activeChannel=AUNW ELZ AV

map.panel.wave-3.hash=-1.5347837022457998E7

map.panel.wave-3.settings.autoScaleAmp=true

map.panel.wave-3.settings.autoScaleAmpMemory=true

map.panel.wave-3.settings.autoScalePower=true

map.panel.wave-3.settings.autoScalePowerMemory=true

map.panel.wave-3.settings.fftSize=Auto

map.panel.wave-3.settings.filter.corner1=1.0

map.panel.wave-3.settings.filter.corner2=10.0

map.panel.wave-3.settings.filter.order=4

map.panel.wave-3.settings.filter.samplingRate=100.0

map.panel.wave-3.settings.filter.type=B

map.panel.wave-3.settings.filterOn=false

map.panel.wave-3.settings.logFreq=false

map.panel.wave-3.settings.logPower=true

map.panel.wave-3.settings.maxAmp=1000.0

map.panel.wave-3.settings.maxFreq=25.0

map.panel.wave-3.settings.maxPower=40000.0

map.panel.wave-3.settings.minAmp=-1000.0

map.panel.wave-3.settings.minFreq=0.75

map.panel.wave-3.settings.removeBias=true

map.panel.wave-3.settings.spectrogramOverlap=0.2

map.panel.wave-3.settings.viewType=W

map.panel.wave-3.settings.zeroPhaseShift=true

map.panel.wave-3.sizeIndex=3

map.panel.wave-3.x=36

map.panel.wave-3.y=122

map.panel.waves=4

map.w=704

map.x=298

map.y=276

monitor=monitor-0

monitor-0.h=434

monitor-0.maximized=false

monitor-0.refreshInterval=1000

monitor-0.slideInterval=1000

monitor-0.source=AVO Winston

monitor-0.spanIndex=3

monitor-0.w=273

monitor-0.wave-0.autoScaleAmp=true

monitor-0.wave-0.autoScaleAmpMemory=true

monitor-0.wave-0.autoScalePower=true

monitor-0.wave-0.autoScalePowerMemory=true

monitor-0.wave-0.channel=AUI EHN AV

monitor-0.wave-0.fftSize=Auto

monitor-0.wave-0.filter.corner1=1.0

monitor-0.wave-0.filter.corner2=10.0

monitor-0.wave-0.filter.order=4

monitor-0.wave-0.filter.samplingRate=100.0

monitor-0.wave-0.filter.type=B

monitor-0.wave-0.filterOn=false

monitor-0.wave-0.logFreq=false

monitor-0.wave-0.logPower=true

monitor-0.wave-0.maxAmp=1000.0

monitor-0.wave-0.maxFreq=25.0

monitor-0.wave-0.maxPower=40000.0

monitor-0.wave-0.minAmp=-1000.0

monitor-0.wave-0.minFreq=0.75

monitor-0.wave-0.removeBias=true

monitor-0.wave-0.spectrogramOverlap=0.2

monitor-0.wave-0.viewType=W

monitor-0.wave-0.zeroPhaseShift=true

monitor-0.wave-1.autoScaleAmp=true

monitor-0.wave-1.autoScaleAmpMemory=true

monitor-0.wave-1.autoScalePower=true

monitor-0.wave-1.autoScalePowerMemory=true

monitor-0.wave-1.channel=AUE BDL AV

monitor-0.wave-1.fftSize=Auto

monitor-0.wave-1.filter.corner1=1.0

monitor-0.wave-1.filter.corner2=10.0

monitor-0.wave-1.filter.order=4

monitor-0.wave-1.filter.samplingRate=100.0

monitor-0.wave-1.filter.type=B

monitor-0.wave-1.filterOn=false

monitor-0.wave-1.logFreq=false

monitor-0.wave-1.logPower=true

monitor-0.wave-1.maxAmp=1000.0

monitor-0.wave-1.maxFreq=25.0

monitor-0.wave-1.maxPower=40000.0

monitor-0.wave-1.minAmp=-1000.0

monitor-0.wave-1.minFreq=0.75

monitor-0.wave-1.removeBias=true

monitor-0.wave-1.spectrogramOverlap=0.2

monitor-0.wave-1.viewType=W

monitor-0.wave-1.zeroPhaseShift=true

monitor-0.wave-10.autoScaleAmp=true

monitor-0.wave-10.autoScaleAmpMemory=true

monitor-0.wave-10.autoScalePower=true

monitor-0.wave-10.autoScalePowerMemory=true

monitor-0.wave-10.channel=AUNW ELZ AV

monitor-0.wave-10.fftSize=Auto

monitor-0.wave-10.filter.corner1=1.0

monitor-0.wave-10.filter.corner2=10.0

monitor-0.wave-10.filter.order=4

monitor-0.wave-10.filter.samplingRate=100.0

monitor-0.wave-10.filter.type=B

monitor-0.wave-10.filterOn=false

monitor-0.wave-10.logFreq=false

monitor-0.wave-10.logPower=true

monitor-0.wave-10.maxAmp=1000.0

monitor-0.wave-10.maxFreq=25.0

monitor-0.wave-10.maxPower=40000.0

monitor-0.wave-10.minAmp=-1000.0

monitor-0.wave-10.minFreq=0.75

monitor-0.wave-10.removeBias=true

monitor-0.wave-10.spectrogramOverlap=0.2

monitor-0.wave-10.viewType=W

monitor-0.wave-10.zeroPhaseShift=true

monitor-0.wave-11.autoScaleAmp=true

monitor-0.wave-11.autoScaleAmpMemory=true

monitor-0.wave-11.autoScalePower=true

monitor-0.wave-11.autoScalePowerMemory=true

monitor-0.wave-11.channel=AU20 HLE AV

monitor-0.wave-11.fftSize=Auto

monitor-0.wave-11.filter.corner1=1.0

monitor-0.wave-11.filter.corner2=10.0

monitor-0.wave-11.filter.order=4

monitor-0.wave-11.filter.samplingRate=100.0

monitor-0.wave-11.filter.type=B

monitor-0.wave-11.filterOn=false

monitor-0.wave-11.logFreq=false

monitor-0.wave-11.logPower=true

monitor-0.wave-11.maxAmp=1000.0

monitor-0.wave-11.maxFreq=25.0

monitor-0.wave-11.maxPower=40000.0

monitor-0.wave-11.minAmp=-1000.0

monitor-0.wave-11.minFreq=0.75

monitor-0.wave-11.removeBias=true

monitor-0.wave-11.spectrogramOverlap=0.2

monitor-0.wave-11.viewType=W

monitor-0.wave-11.zeroPhaseShift=true

monitor-0.wave-12.autoScaleAmp=true

monitor-0.wave-12.autoScaleAmpMemory=true

monitor-0.wave-12.autoScalePower=true

monitor-0.wave-12.autoScalePowerMemory=true

monitor-0.wave-12.channel=AU20 HLZ AV

monitor-0.wave-12.fftSize=Auto

monitor-0.wave-12.filter.corner1=1.0

monitor-0.wave-12.filter.corner2=10.0

monitor-0.wave-12.filter.order=4

monitor-0.wave-12.filter.samplingRate=100.0

monitor-0.wave-12.filter.type=B

monitor-0.wave-12.filterOn=false

monitor-0.wave-12.logFreq=false

monitor-0.wave-12.logPower=true

monitor-0.wave-12.maxAmp=1000.0

monitor-0.wave-12.maxFreq=25.0

monitor-0.wave-12.maxPower=40000.0

monitor-0.wave-12.minAmp=-1000.0

monitor-0.wave-12.minFreq=0.75

monitor-0.wave-12.removeBias=true

monitor-0.wave-12.spectrogramOverlap=0.2

monitor-0.wave-12.viewType=W

monitor-0.wave-12.zeroPhaseShift=true

monitor-0.wave-13.autoScaleAmp=true

monitor-0.wave-13.autoScaleAmpMemory=true

monitor-0.wave-13.autoScalePower=true

monitor-0.wave-13.autoScalePowerMemory=true

monitor-0.wave-13.channel=AUE BDF AV

monitor-0.wave-13.fftSize=Auto

monitor-0.wave-13.filter.corner1=1.0

monitor-0.wave-13.filter.corner2=10.0

monitor-0.wave-13.filter.order=4

monitor-0.wave-13.filter.samplingRate=100.0

monitor-0.wave-13.filter.type=B

monitor-0.wave-13.filterOn=false

monitor-0.wave-13.logFreq=false

monitor-0.wave-13.logPower=true

monitor-0.wave-13.maxAmp=1000.0

monitor-0.wave-13.maxFreq=25.0

monitor-0.wave-13.maxPower=40000.0

monitor-0.wave-13.minAmp=-1000.0

monitor-0.wave-13.minFreq=0.75

monitor-0.wave-13.removeBias=true

monitor-0.wave-13.spectrogramOverlap=0.2

monitor-0.wave-13.viewType=W

monitor-0.wave-13.zeroPhaseShift=true

monitor-0.wave-2.autoScaleAmp=true

monitor-0.wave-2.autoScaleAmpMemory=true

monitor-0.wave-2.autoScalePower=true

monitor-0.wave-2.autoScalePowerMemory=true

monitor-0.wave-2.channel=AUI EHZ AV

monitor-0.wave-2.fftSize=Auto

monitor-0.wave-2.filter.corner1=1.0

monitor-0.wave-2.filter.corner2=10.0

monitor-0.wave-2.filter.order=4

monitor-0.wave-2.filter.samplingRate=100.0

monitor-0.wave-2.filter.type=B

monitor-0.wave-2.filterOn=false

monitor-0.wave-2.logFreq=false

monitor-0.wave-2.logPower=true

monitor-0.wave-2.maxAmp=1000.0

monitor-0.wave-2.maxFreq=25.0

monitor-0.wave-2.maxPower=40000.0

monitor-0.wave-2.minAmp=-1000.0

monitor-0.wave-2.minFreq=0.75

monitor-0.wave-2.removeBias=true

monitor-0.wave-2.spectrogramOverlap=0.2

monitor-0.wave-2.viewType=W

monitor-0.wave-2.zeroPhaseShift=true

monitor-0.wave-3.autoScaleAmp=true

monitor-0.wave-3.autoScaleAmpMemory=true

monitor-0.wave-3.autoScalePower=true

monitor-0.wave-3.autoScalePowerMemory=true

monitor-0.wave-3.channel=AUE ELZ AV

monitor-0.wave-3.fftSize=Auto

monitor-0.wave-3.filter.corner1=1.0

monitor-0.wave-3.filter.corner2=10.0

monitor-0.wave-3.filter.order=4

monitor-0.wave-3.filter.samplingRate=100.0

monitor-0.wave-3.filter.type=B

monitor-0.wave-3.filterOn=false

monitor-0.wave-3.logFreq=false

monitor-0.wave-3.logPower=true

monitor-0.wave-3.maxAmp=1000.0

monitor-0.wave-3.maxFreq=25.0

monitor-0.wave-3.maxPower=40000.0

monitor-0.wave-3.minAmp=-1000.0

monitor-0.wave-3.minFreq=0.75

monitor-0.wave-3.removeBias=true

monitor-0.wave-3.spectrogramOverlap=0.2

monitor-0.wave-3.viewType=W

monitor-0.wave-3.zeroPhaseShift=true

monitor-0.wave-4.autoScaleAmp=true

monitor-0.wave-4.autoScaleAmpMemory=true

monitor-0.wave-4.autoScalePower=true

monitor-0.wave-4.autoScalePowerMemory=true

monitor-0.wave-4.channel=AUSE EHZ AV

monitor-0.wave-4.fftSize=Auto

monitor-0.wave-4.filter.corner1=1.0

monitor-0.wave-4.filter.corner2=10.0

monitor-0.wave-4.filter.order=4

monitor-0.wave-4.filter.samplingRate=100.0

monitor-0.wave-4.filter.type=B

monitor-0.wave-4.filterOn=false

monitor-0.wave-4.logFreq=false

monitor-0.wave-4.logPower=true

monitor-0.wave-4.maxAmp=1000.0

monitor-0.wave-4.maxFreq=25.0

monitor-0.wave-4.maxPower=40000.0

monitor-0.wave-4.minAmp=-1000.0

monitor-0.wave-4.minFreq=0.75

monitor-0.wave-4.removeBias=true

monitor-0.wave-4.spectrogramOverlap=0.2

monitor-0.wave-4.viewType=W

monitor-0.wave-4.zeroPhaseShift=true

monitor-0.wave-5.autoScaleAmp=true

monitor-0.wave-5.autoScaleAmpMemory=true

monitor-0.wave-5.autoScalePower=true

monitor-0.wave-5.autoScalePowerMemory=true

monitor-0.wave-5.channel=AU20 HLN AV

monitor-0.wave-5.fftSize=Auto

monitor-0.wave-5.filter.corner1=1.0

monitor-0.wave-5.filter.corner2=10.0

monitor-0.wave-5.filter.order=4

monitor-0.wave-5.filter.samplingRate=100.0

monitor-0.wave-5.filter.type=B

monitor-0.wave-5.filterOn=false

monitor-0.wave-5.logFreq=false

monitor-0.wave-5.logPower=true

monitor-0.wave-5.maxAmp=1000.0

monitor-0.wave-5.maxFreq=25.0

monitor-0.wave-5.maxPower=40000.0

monitor-0.wave-5.minAmp=-1000.0

monitor-0.wave-5.minFreq=0.75

monitor-0.wave-5.removeBias=true

monitor-0.wave-5.spectrogramOverlap=0.2

monitor-0.wave-5.viewType=W

monitor-0.wave-5.zeroPhaseShift=true

monitor-0.wave-6.autoScaleAmp=true

monitor-0.wave-6.autoScaleAmpMemory=true

monitor-0.wave-6.autoScalePower=true

monitor-0.wave-6.autoScalePowerMemory=true

monitor-0.wave-6.channel=AUE EHZ AV

monitor-0.wave-6.fftSize=Auto

monitor-0.wave-6.filter.corner1=1.0

monitor-0.wave-6.filter.corner2=10.0

monitor-0.wave-6.filter.order=4

monitor-0.wave-6.filter.samplingRate=100.0

monitor-0.wave-6.filter.type=B

monitor-0.wave-6.filterOn=false

monitor-0.wave-6.logFreq=false

monitor-0.wave-6.logPower=true

monitor-0.wave-6.maxAmp=1000.0

monitor-0.wave-6.maxFreq=25.0

monitor-0.wave-6.maxPower=40000.0

monitor-0.wave-6.minAmp=-1000.0

monitor-0.wave-6.minFreq=0.75

monitor-0.wave-6.removeBias=true

monitor-0.wave-6.spectrogramOverlap=0.2

monitor-0.wave-6.viewType=W

monitor-0.wave-6.zeroPhaseShift=true

monitor-0.wave-7.autoScaleAmp=true

monitor-0.wave-7.autoScaleAmpMemory=true

monitor-0.wave-7.autoScalePower=true

monitor-0.wave-7.autoScalePowerMemory=true

monitor-0.wave-7.channel=AUE BDX AV

monitor-0.wave-7.fftSize=Auto

monitor-0.wave-7.filter.corner1=1.0

monitor-0.wave-7.filter.corner2=10.0

monitor-0.wave-7.filter.order=4

monitor-0.wave-7.filter.samplingRate=100.0

monitor-0.wave-7.filter.type=B

monitor-0.wave-7.filterOn=false

monitor-0.wave-7.logFreq=false

monitor-0.wave-7.logPower=true

monitor-0.wave-7.maxAmp=1000.0

monitor-0.wave-7.maxFreq=25.0

monitor-0.wave-7.maxPower=40000.0

monitor-0.wave-7.minAmp=-1000.0

monitor-0.wave-7.minFreq=0.75

monitor-0.wave-7.removeBias=true

monitor-0.wave-7.spectrogramOverlap=0.2

monitor-0.wave-7.viewType=W

monitor-0.wave-7.zeroPhaseShift=true

monitor-0.wave-8.autoScaleAmp=true

monitor-0.wave-8.autoScaleAmpMemory=true

monitor-0.wave-8.autoScalePower=true

monitor-0.wave-8.autoScalePowerMemory=true

monitor-0.wave-8.channel=AUI EHE AV

monitor-0.wave-8.fftSize=Auto

monitor-0.wave-8.filter.corner1=1.0

monitor-0.wave-8.filter.corner2=10.0

monitor-0.wave-8.filter.order=4

monitor-0.wave-8.filter.samplingRate=100.0

monitor-0.wave-8.filter.type=B

monitor-0.wave-8.filterOn=false

monitor-0.wave-8.logFreq=false

monitor-0.wave-8.logPower=true

monitor-0.wave-8.maxAmp=1000.0

monitor-0.wave-8.maxFreq=25.0

monitor-0.wave-8.maxPower=40000.0

monitor-0.wave-8.minAmp=-1000.0

monitor-0.wave-8.minFreq=0.75

monitor-0.wave-8.removeBias=true

monitor-0.wave-8.spectrogramOverlap=0.2

monitor-0.wave-8.viewType=W

monitor-0.wave-8.zeroPhaseShift=true

monitor-0.wave-9.autoScaleAmp=true

monitor-0.wave-9.autoScaleAmpMemory=true

monitor-0.wave-9.autoScalePower=true

monitor-0.wave-9.autoScalePowerMemory=true

monitor-0.wave-9.channel=AUNW EHZ AV

monitor-0.wave-9.fftSize=Auto

monitor-0.wave-9.filter.corner1=1.0

monitor-0.wave-9.filter.corner2=10.0

monitor-0.wave-9.filter.order=4

monitor-0.wave-9.filter.samplingRate=100.0

monitor-0.wave-9.filter.type=B

monitor-0.wave-9.filterOn=false

monitor-0.wave-9.logFreq=false

monitor-0.wave-9.logPower=true

monitor-0.wave-9.maxAmp=1000.0

monitor-0.wave-9.maxFreq=25.0

monitor-0.wave-9.maxPower=40000.0

monitor-0.wave-9.minAmp=-1000.0

monitor-0.wave-9.minFreq=0.75

monitor-0.wave-9.removeBias=true

monitor-0.wave-9.spectrogramOverlap=0.2

monitor-0.wave-9.viewType=W

monitor-0.wave-9.zeroPhaseShift=true

monitor-0.waves=14

monitor-0.x=1

monitor-0.y=496

name=Augustine

