VT,#fc7703
VT - distal,#fc7703
VT - proximal,#fc7703
LP,#6b4934
VLP,#c79fc6
Hybrid,#84e087
Explosion,#ab2f2b
Tremor, #dbd976
Lahar, #5481a8
Pyroclastic Flow, #e33bdf
Regional, #6f5796
Rock Fall, #857876
Teleseism, #965771
Ice quake, #76d6db
Noise, #57754d
Cultural, #57754d
Unclassified, #57754d
