default.autoScale=true

default.binSize=Hour

default.countsPeriod=10

default.detrend=false

default.eventMaxLength=300.0

default.eventRatio=1.3

default.eventThreshold=50.0

default.runningMean=false

default.runningMeanPeriod=300.0

default.runningMedian=false

default.runningMedianPeriod=300.0

default.scaleMax=100.0

default.scaleMin=0.0

default.valuesPeriod=600

default.viewType=VALUES

