groupConfigFile=SwarmGroups.config

kiosk=false

lastPath=default

saveConfig=true

server=cvo;wws:130.118.179.204:16022:10000:0
server=localhost;wws:localhost:16022:10000:0
server=pubavo1;wws:pubavo1.wr.usgs.gov:16022:10000:0

span=24

timeChunk=30

timeZoneAbbr=UTC

timeZoneOffset=0

useLargeCursor=false

windowMaximized=true

windowSizeX=1151

windowSizeY=919

windowX=38

windowY=43

