default.alternateOrientationCode=Z12

default.autoScaleAmp=true

default.autoScaleAmpMemory=false

default.autoScalePower=false

default.autoScalePowerMemory=true

default.autoScaleSpectrogramPower=false

default.autoScaleSpectrogramPowerMemory=true

default.binSize=2.0

default.filter.corner1=1.0

default.filter.corner2=10.0

default.filter.order=4

default.filter.samplingRate=100.0

default.filter.type=B

default.filterOn=false

default.nfft=0

default.removeBias=true

default.spectraLogFreq=true

default.spectraLogPower=true

default.spectraMaxFreq=25.0

default.spectraMaxPower=5.0

default.spectraMinFreq=0.0

default.spectraMinPower=1.0

default.spectrogramLogPower=true

default.spectrogramMaxFreq=25.0

default.spectrogramMaxPower=120.0

default.spectrogramMinFreq=0.0

default.spectrogramMinPower=20.0

default.spectrogramOverlap=0.859375

default.useAlternateOrientationCode=false

default.useAlternateSpectrum=false

default.useUnits=true

default.viewType=W

default.waveMaxAmp=1000.0

default.waveMinAmp=-1000.0

default.zeroPhaseShift=true

