default.autoScaleAmp=true

default.autoScaleAmpMemory=true

default.autoScalePower=true

default.autoScalePowerMemory=true

default.fftSize=Auto

default.filter.corner1=1.0

default.filter.corner2=10.0

default.filter.order=4

default.filter.samplingRate=100.0

default.filter.type=B

default.filterOn=false

default.logFreq=false

default.logPower=true

default.maxAmp=1000.0

default.maxFreq=25.0

default.maxPower=40000.0

default.minAmp=-1000.0

default.minFreq=0.75

default.removeBias=true

default.spectrogramOverlap=0.2

default.useUnits=true

default.viewType=W

default.zeroPhaseShift=true

