#Aniakchak
ANNE SHZ AK=Aniakchak
ANNW SHZ AK=Aniakchak
ANON SHE AK=Aniakchak
ANON SHN AK=Aniakchak
ANON SHZ AK=Aniakchak
ANPB SHZ AK=Aniakchak
ANPK SHZ AK=Aniakchak
AZAC SHZ AK=Aniakchak

#Akutan
AHB SHZ AK=Akutan
AKS SHE AK=Akutan
AKS SHN AK=Akutan
AKS SHZ AK=Akutan
AKT BHE AK=Akutan
AKT BHN AK=Akutan
AKT BHZ AK=Akutan
AKV SHZ AK=Akutan
HSB SHZ AK=Akutan
LVA SHZ AK=Akutan
AKGG BHE AK=Akutan
AKGG BHN AK=Akutan
AKGG BHZ AK=Akutan
AKLV BHE AK=Akutan
AKLV BHN AK=Akutan
AKLV BHZ AK=Akutan
AKMO BHE AK=Akutan
AKMO BHN AK=Akutan
AKMO BHZ AK=Akutan
AKRB BHE AK=Akutan
AKRB BHN AK=Akutan
AKRB BHZ AK=Akutan

#Augustine                       
AUE SHZ AK=Augustine
AUH SHZ AK=Augustine
AUI SHE AK=Augustine
AUI SHN AK=Augustine
AUI SHZ AK=Augustine
AUL BHE AK=Augustine
AUL BHN AK=Augustine
AUL BHZ AK=Augustine
AUL SHZ AK=Augustine
AUP SHZ AK=Augustine
AUR SHZ AK=Augustine
AUS SHZ AK=Augustine
AUW SHZ AK=Augustine

#Gareloi
GAEA SHZ AK=Gareloi
GAKI SHZ AK=Gareloi
GALA SHZ AK=Gareloi
GANE SHZ AK=Gareloi
GANO SHZ AK=Gareloi
GASW SHE AK=Gareloi
GASW SHN AK=Gareloi
GASW SHZ AK=Gareloi
GHO SHZ AK=Gareloi
GOU SHN AK=Gareloi
GOU SHZ AK=Gareloi

#Great Sitkin
GSCK SHZ AK=Great Siskin
GSIG SHZ AK=Great Siskin
GSMY SHZ AK=Great Siskin
GSSP SHZ AK=Great Siskin
GSTD SHE AK=Great Siskin
GSTD SHN AK=Great Siskin
GSTD SHZ AK=Great Siskin
GSTR SHZ AK=Great Siskin

#Iliamna
ILI SHZ AK=Iliamna
ILS SHZ AK=Iliamna
ILW SHZ AK=Iliamna
INE SHZ AK=Iliamna
IVE SHE AK=Iliamna
IVE SHN AK=Iliamna
IVE SHZ AK=Iliamna
IVS SHZ AK=Iliamna

#Kanaga
KIKV SHZ AK=Kanaga
KIMD SHZ AK=Kanaga
KINC SHZ AK=Kanaga
KIRH SHZ AK=Kanaga
KIWB SHZ AK=Kanaga

#Katmai
 ACH SHE AK=Katmai
 ACH SHN AK=Katmai
 ACH SHZ AK=Katmai
ANCK SHZ AK=Katmai
CAHL SHZ AK=Katmai
CNTC SHZ AK=Katmai
KABR SHZ AK=Katmai
KAHC SHZ AK=Katmai
KAHG SHZ AK=Katmai
KAIC SHZ AK=Katmai
KAPH SHE AK=Katmai
KAPH SHN AK=Katmai
KAPH SHZ AK=Katmai
KARR SHZ AK=Katmai
KAWH SHZ AK=Katmai
 KBM SHZ AK=Katmai
 KCE SHZ AK=Katmai
 KCG SHE AK=Katmai
 KCG SHN AK=Katmai
 KCG SHZ AK=Katmai
 KEL SHZ AK=Katmai
 KJL SHZ AK=Katmai
 KVT SHZ AK=Katmai
MGLS SHZ AK=Katmai
KABU BHE AK=Katmai
KABU BHN AK=Katmai
KABU BHZ AK=Katmai
KAKN BHE AK=Katmai
KAKN BHN AK=Katmai
KAKN BHZ AK=Katmai

#Makushin
MCIR SHZ AK=Makushin
MGOD SHZ AK=Makushin
MNAT SHZ AK=Makushin
MSOM SHZ AK=Makushin
 MSW SHE AK=Makushin
 MSW SHN AK=Makushin
 MSW SHZ AK=Makushin
MTBL SHZ AK=Makushin

#Mount Dutton
BLDY SHZ AK=Mount Dutton
DRR3 SHZ AK=Mount Dutton
 DT1 SHZ AK=Mount Dutton
 DTN SHZ AK=Mount Dutton

#Okmok
OKAS SHZ AK=Okmok
OKCF SHZ AK=Okmok
OKER SHZ AK=Okmok
OKID SHZ AK=Okmok
OKRE SHZ AK=Okmok
OKSP SHZ AK=Okmok
OKTU SHZ AK=Okmok
OKWE SHZ AK=Okmok
OKCE BHE AK=Okmok	
OKCE BHN AK=Okmok	
OKCE BHZ AK=Okmok
OKWR SHZ AK=Okmok

#Pavlof
BLHA SHZ AK=Pavlof
 DOL SHZ AK=Pavlof
 HAG SHZ AK=Pavlof
PN7A SHZ AK=Pavlof
PS1A SHZ AK=Pavlof
 PV6 SHZ AK=Pavlof
 PVV SHZ AK=Pavlof

#Puelik 
PLK1 SHZ AK=Puelik
PLK2 SHZ AK=Puelik
PLK3 SHE AK=Puelik
PLK3 SHN AK=Puelik
PLK3 SHZ AK=Puelik
PLK4 SHZ AK=Puelik
PLK5 SHZ AK=Puelik

#Redoubt
DFR SHZ AK=Redoubt
NCT SHZ AK=Redoubt
RDN SHZ AK=Redoubt
RDT SHZ AK=Redoubt
RED SHE AK=Redoubt
RED SHN AK=Redoubt
RED SHZ AK=Redoubt
REF SHZ AK=Redoubt
RSO SHZ AK=Redoubt

#Shishaldin
BRPK SHZ AK=Shishaldin
ISNN SHZ AK=Shishaldin
ISTK SHZ AK=Shishaldin
SSLN SHZ AK=Shishaldin
SSLS SHE AK=Shishaldin
SSLS SHN AK=Shishaldin
SSLS SHZ AK=Shishaldin
SSLW SHZ AK=Shishaldin

#Spurr
 BGL SHZ AK=Spurr
 CGL SHZ AK=Spurr
 CRP SHZ AK=Spurr
 CRP SHE AK=Spurr
 CRP SHN AK=Spurr
 CP2 SHZ AK=Spurr
 NCG SHZ AK=Spurr
 CKN SHZ AK=Spurr
 CKL SHZ AK=Spurr
 CKT SHZ AK=Spurr
 SPU SHZ AK=Spurr
 BKG SHZ AK=Spurr
SPCG BHE AK=Spurr
SPCG BHN AK=Spurr
SPCG BHZ AK=Spurr
SPBG BHE AK=Spurr
SPBG BHN AK=Spurr
SPBG BHZ AK=Spurr
SPCR BHE AK=Spurr
SPCR BHN AK=Spurr
SPCR BHZ AK=Spurr

#Tanaga                   
TACS SHZ AK=Tanaga
TAFL SHZ AK=Tanaga
TAFP SHE AK=Tanaga
TAFP SHN AK=Tanaga
TAFP SHZ AK=Tanaga
TANO SHZ AK=Tanaga
TAPA SHZ AK=Tanaga
TASE SHZ AK=Tanaga

#Veniaminof
VNFG SHZ AK=Veniaminof
VNHG SHZ AK=Veniaminof
VNKR SHZ AK=Veniaminof
VNNF SHZ AK=Veniaminof
VNSG SHZ AK=Veniaminof
VNSS SHZ AK=Veniaminof
VNSW SHZ AK=Veniaminof
VNWF SHZ AK=Veniaminof

#Westdahl
WESE SHZ AK=Westdahl
WESN SHZ AK=Westdahl
WESS SHE AK=Westdahl
WESS SHN AK=Westdahl
WESS SHZ AK=Westdahl
WFAR SHZ AK=Westdahl
WPOG SHZ AK=Westdahl
WTUG SHZ AK=Westdahl

#Wrangell
WACK SHE AK=Wrangell
WACK SHN AK=Wrangell
WACK SHZ AK=Wrangell
WANC SHZ AK=Wrangell
WASW SHZ AK=Wrangell
WAZA SHZ AK=Wrangell

#Other/regional
 UNV BHE AK=Regional
 UNV BHN AK=Regional
 UNV BHZ AK=Regional
FALS BHE AK=Regional
FALS BHN AK=Regional
FALS BHZ AK=Regional
ADAG SHZ AK=Regional
 BGM SHZ AK=Regional
 BGR SHZ AK=Regional
ETKA SHZ AK=Regional
 HOM SHZ AK=Regional
 MMN SHZ AK=Regional
 NNL SHZ AK=Regional
 OPT SHZ AK=Regional
 PDB SHZ AK=Regional
 SYI SHZ AK=Regional
 XLV SHZ AK=Regional
ATKA BHE AK=Regional
ATKA BHN AK=Regional
ATKA BHZ AK=Regional
 LVA SHZ AK=Regional
NIKO BHE AK=Regional
NIKO BHN AK=Regional
NIKO BHZ AK=Regional
 SKN SHZ AK=Regional
 SLK SHZ AK=Regional
 SSN SHZ AK=Regional
BPBC SHZ AK=Regional
PLBL SHZ AK=Regional
SPNW SHZ AK=Regional
SPWE SHZ AK=Regional
 ZRO SHZ AK=Regional
STLK SHZ AK=Regional