default.autoScaleAmp=true

default.autoScaleAmpMemory=true

default.autoScalePower=false

default.autoScalePowerMemory=true

default.binSize=2

default.nfft=0

default.filter.corner1=1.0

default.filter.corner2=10.0

default.filter.order=4

default.filter.samplingRate=100.0

default.filter.type=B

default.filterOn=false

default.logPower=true

default.logFreq=true

default.maxAmp=1000.0

default.maxFreq=25.0

default.maxPower=120.0

default.minAmp=-1000.0

default.minFreq=0

default.minPower=20.0

default.removeBias=true

default.spectrogramOverlap=0.859375

default.useUnits=true

default.viewType=W

default.zeroPhaseShift=true

