chooser.source=AVO Winston

helicorder=helicorder-1

helicorder-1.alertClip=false

helicorder-1.alertClipTimeout=300

helicorder-1.autoScale=true

helicorder-1.barMult=3.0

helicorder-1.barRange=10828.0

helicorder-1.bottomTime=NaN

helicorder-1.channel=AUWS BHZ AV --

helicorder-1.clipBars=21

helicorder-1.clipValue=75798.0

helicorder-1.forceCenter=false

helicorder-1.h=750

helicorder-1.maximized=false

helicorder-1.pinned=false

helicorder-1.refreshInterval=15

helicorder-1.scrollSize=24

helicorder-1.showClip=true

helicorder-1.source=AVO Winston

helicorder-1.span=1440

helicorder-1.timeChunk=1800

helicorder-1.w=800

helicorder-1.wave.alternateOrientationCode=Z12

helicorder-1.wave.autoScaleAmp=true

helicorder-1.wave.autoScaleAmpMemory=false

helicorder-1.wave.autoScalePower=false

helicorder-1.wave.autoScalePowerMemory=true

helicorder-1.wave.autoScaleSpectrogramPower=false

helicorder-1.wave.autoScaleSpectrogramPowerMemory=true

helicorder-1.wave.binSize=2.0

helicorder-1.wave.filter.corner1=1.0

helicorder-1.wave.filter.corner2=10.0

helicorder-1.wave.filter.order=4

helicorder-1.wave.filter.samplingRate=100.0

helicorder-1.wave.filter.type=B

helicorder-1.wave.filterOn=false

helicorder-1.wave.nfft=0

helicorder-1.wave.removeBias=true

helicorder-1.wave.spectraLogFreq=true

helicorder-1.wave.spectraLogPower=true

helicorder-1.wave.spectraMaxFreq=25.0

helicorder-1.wave.spectraMaxPower=5.0

helicorder-1.wave.spectraMinFreq=0.0

helicorder-1.wave.spectraMinPower=1.0

helicorder-1.wave.spectrogramLogPower=true

helicorder-1.wave.spectrogramMaxFreq=25.0

helicorder-1.wave.spectrogramMaxPower=120.0

helicorder-1.wave.spectrogramMinFreq=0.0

helicorder-1.wave.spectrogramMinPower=20.0

helicorder-1.wave.spectrogramOverlap=0.859375

helicorder-1.wave.useAlternateOrientationCode=false

helicorder-1.wave.useAlternateSpectrum=false

helicorder-1.wave.useUnits=true

helicorder-1.wave.viewType=W

helicorder-1.wave.waveMaxAmp=1000.0

helicorder-1.wave.waveMinAmp=-1000.0

helicorder-1.wave.zeroPhaseShift=true

helicorder-1.waveZoomOffset=30

helicorder-1.x=698

helicorder-1.y=18

kiosk=false

kioskX=-8

kioskY=-8

map.h=653

map.maximized=false

map.panel.colorSetting=AGE

map.panel.hideLegend=false

map.panel.hideStations=false

map.panel.labelSetting=S

map.panel.latitude=59.356227735983815

map.panel.longitude=-153.41553120998552

map.panel.scale=13.405534092421748

map.panel.waves=0

map.w=704

map.x=524

map.y=301

monitor=monitor-0

monitor-0.h=700

monitor-0.maximized=false

monitor-0.refreshInterval=1000

monitor-0.slideInterval=500

monitor-0.source=AVO Winston

monitor-0.span=120

monitor-0.w=600

monitor-0.wave-0.alternateOrientationCode=Z12

monitor-0.wave-0.autoScaleAmp=true

monitor-0.wave-0.autoScaleAmpMemory=false

monitor-0.wave-0.autoScalePower=false

monitor-0.wave-0.autoScalePowerMemory=true

monitor-0.wave-0.autoScaleSpectrogramPower=false

monitor-0.wave-0.autoScaleSpectrogramPowerMemory=true

monitor-0.wave-0.binSize=2.0

monitor-0.wave-0.channel=AU22 BHZ AV --

monitor-0.wave-0.filter.corner1=1.0

monitor-0.wave-0.filter.corner2=10.0

monitor-0.wave-0.filter.order=4

monitor-0.wave-0.filter.samplingRate=100.0

monitor-0.wave-0.filter.type=B

monitor-0.wave-0.filterOn=false

monitor-0.wave-0.nfft=0

monitor-0.wave-0.removeBias=true

monitor-0.wave-0.spectraLogFreq=true

monitor-0.wave-0.spectraLogPower=true

monitor-0.wave-0.spectraMaxFreq=25.0

monitor-0.wave-0.spectraMaxPower=5.0

monitor-0.wave-0.spectraMinFreq=0.0

monitor-0.wave-0.spectraMinPower=1.0

monitor-0.wave-0.spectrogramLogPower=true

monitor-0.wave-0.spectrogramMaxFreq=25.0

monitor-0.wave-0.spectrogramMaxPower=120.0

monitor-0.wave-0.spectrogramMinFreq=0.0

monitor-0.wave-0.spectrogramMinPower=20.0

monitor-0.wave-0.spectrogramOverlap=0.859375

monitor-0.wave-0.useAlternateOrientationCode=false

monitor-0.wave-0.useAlternateSpectrum=false

monitor-0.wave-0.useUnits=true

monitor-0.wave-0.viewType=W

monitor-0.wave-0.waveMaxAmp=1000.0

monitor-0.wave-0.waveMinAmp=-1000.0

monitor-0.wave-0.zeroPhaseShift=true

monitor-0.wave-1.alternateOrientationCode=Z12

monitor-0.wave-1.autoScaleAmp=true

monitor-0.wave-1.autoScaleAmpMemory=false

monitor-0.wave-1.autoScalePower=false

monitor-0.wave-1.autoScalePowerMemory=true

monitor-0.wave-1.autoScaleSpectrogramPower=false

monitor-0.wave-1.autoScaleSpectrogramPowerMemory=true

monitor-0.wave-1.binSize=2.0

monitor-0.wave-1.channel=AUCH BHZ AV --

monitor-0.wave-1.filter.corner1=1.0

monitor-0.wave-1.filter.corner2=10.0

monitor-0.wave-1.filter.order=4

monitor-0.wave-1.filter.samplingRate=100.0

monitor-0.wave-1.filter.type=B

monitor-0.wave-1.filterOn=false

monitor-0.wave-1.nfft=0

monitor-0.wave-1.removeBias=true

monitor-0.wave-1.spectraLogFreq=true

monitor-0.wave-1.spectraLogPower=true

monitor-0.wave-1.spectraMaxFreq=25.0

monitor-0.wave-1.spectraMaxPower=5.0

monitor-0.wave-1.spectraMinFreq=0.0

monitor-0.wave-1.spectraMinPower=1.0

monitor-0.wave-1.spectrogramLogPower=true

monitor-0.wave-1.spectrogramMaxFreq=25.0

monitor-0.wave-1.spectrogramMaxPower=120.0

monitor-0.wave-1.spectrogramMinFreq=0.0

monitor-0.wave-1.spectrogramMinPower=20.0

monitor-0.wave-1.spectrogramOverlap=0.859375

monitor-0.wave-1.useAlternateOrientationCode=false

monitor-0.wave-1.useAlternateSpectrum=false

monitor-0.wave-1.useUnits=true

monitor-0.wave-1.viewType=W

monitor-0.wave-1.waveMaxAmp=1000.0

monitor-0.wave-1.waveMinAmp=-1000.0

monitor-0.wave-1.zeroPhaseShift=true

monitor-0.wave-2.alternateOrientationCode=Z12

monitor-0.wave-2.autoScaleAmp=true

monitor-0.wave-2.autoScaleAmpMemory=false

monitor-0.wave-2.autoScalePower=false

monitor-0.wave-2.autoScalePowerMemory=true

monitor-0.wave-2.autoScaleSpectrogramPower=false

monitor-0.wave-2.autoScaleSpectrogramPowerMemory=true

monitor-0.wave-2.binSize=2.0

monitor-0.wave-2.channel=AUJA BHZ AV --

monitor-0.wave-2.filter.corner1=1.0

monitor-0.wave-2.filter.corner2=10.0

monitor-0.wave-2.filter.order=4

monitor-0.wave-2.filter.samplingRate=100.0

monitor-0.wave-2.filter.type=B

monitor-0.wave-2.filterOn=false

monitor-0.wave-2.nfft=0

monitor-0.wave-2.removeBias=true

monitor-0.wave-2.spectraLogFreq=true

monitor-0.wave-2.spectraLogPower=true

monitor-0.wave-2.spectraMaxFreq=25.0

monitor-0.wave-2.spectraMaxPower=5.0

monitor-0.wave-2.spectraMinFreq=0.0

monitor-0.wave-2.spectraMinPower=1.0

monitor-0.wave-2.spectrogramLogPower=true

monitor-0.wave-2.spectrogramMaxFreq=25.0

monitor-0.wave-2.spectrogramMaxPower=120.0

monitor-0.wave-2.spectrogramMinFreq=0.0

monitor-0.wave-2.spectrogramMinPower=20.0

monitor-0.wave-2.spectrogramOverlap=0.859375

monitor-0.wave-2.useAlternateOrientationCode=false

monitor-0.wave-2.useAlternateSpectrum=false

monitor-0.wave-2.useUnits=true

monitor-0.wave-2.viewType=W

monitor-0.wave-2.waveMaxAmp=1000.0

monitor-0.wave-2.waveMinAmp=-1000.0

monitor-0.wave-2.zeroPhaseShift=true

monitor-0.wave-3.alternateOrientationCode=Z12

monitor-0.wave-3.autoScaleAmp=true

monitor-0.wave-3.autoScaleAmpMemory=false

monitor-0.wave-3.autoScalePower=false

monitor-0.wave-3.autoScalePowerMemory=true

monitor-0.wave-3.autoScaleSpectrogramPower=false

monitor-0.wave-3.autoScaleSpectrogramPowerMemory=true

monitor-0.wave-3.binSize=2.0

monitor-0.wave-3.channel=AUJK BHZ AV --

monitor-0.wave-3.filter.corner1=1.0

monitor-0.wave-3.filter.corner2=10.0

monitor-0.wave-3.filter.order=4

monitor-0.wave-3.filter.samplingRate=100.0

monitor-0.wave-3.filter.type=B

monitor-0.wave-3.filterOn=false

monitor-0.wave-3.nfft=0

monitor-0.wave-3.removeBias=true

monitor-0.wave-3.spectraLogFreq=true

monitor-0.wave-3.spectraLogPower=true

monitor-0.wave-3.spectraMaxFreq=25.0

monitor-0.wave-3.spectraMaxPower=5.0

monitor-0.wave-3.spectraMinFreq=0.0

monitor-0.wave-3.spectraMinPower=1.0

monitor-0.wave-3.spectrogramLogPower=true

monitor-0.wave-3.spectrogramMaxFreq=25.0

monitor-0.wave-3.spectrogramMaxPower=120.0

monitor-0.wave-3.spectrogramMinFreq=0.0

monitor-0.wave-3.spectrogramMinPower=20.0

monitor-0.wave-3.spectrogramOverlap=0.859375

monitor-0.wave-3.useAlternateOrientationCode=false

monitor-0.wave-3.useAlternateSpectrum=false

monitor-0.wave-3.useUnits=true

monitor-0.wave-3.viewType=W

monitor-0.wave-3.waveMaxAmp=1000.0

monitor-0.wave-3.waveMinAmp=-1000.0

monitor-0.wave-3.zeroPhaseShift=true

monitor-0.wave-4.alternateOrientationCode=Z12

monitor-0.wave-4.autoScaleAmp=true

monitor-0.wave-4.autoScaleAmpMemory=false

monitor-0.wave-4.autoScalePower=false

monitor-0.wave-4.autoScalePowerMemory=true

monitor-0.wave-4.autoScaleSpectrogramPower=false

monitor-0.wave-4.autoScaleSpectrogramPowerMemory=true

monitor-0.wave-4.binSize=2.0

monitor-0.wave-4.channel=AUL BHZ AV --

monitor-0.wave-4.filter.corner1=1.0

monitor-0.wave-4.filter.corner2=10.0

monitor-0.wave-4.filter.order=4

monitor-0.wave-4.filter.samplingRate=100.0

monitor-0.wave-4.filter.type=B

monitor-0.wave-4.filterOn=false

monitor-0.wave-4.nfft=0

monitor-0.wave-4.removeBias=true

monitor-0.wave-4.spectraLogFreq=true

monitor-0.wave-4.spectraLogPower=true

monitor-0.wave-4.spectraMaxFreq=25.0

monitor-0.wave-4.spectraMaxPower=5.0

monitor-0.wave-4.spectraMinFreq=0.0

monitor-0.wave-4.spectraMinPower=1.0

monitor-0.wave-4.spectrogramLogPower=true

monitor-0.wave-4.spectrogramMaxFreq=25.0

monitor-0.wave-4.spectrogramMaxPower=120.0

monitor-0.wave-4.spectrogramMinFreq=0.0

monitor-0.wave-4.spectrogramMinPower=20.0

monitor-0.wave-4.spectrogramOverlap=0.859375

monitor-0.wave-4.useAlternateOrientationCode=false

monitor-0.wave-4.useAlternateSpectrum=false

monitor-0.wave-4.useUnits=true

monitor-0.wave-4.viewType=W

monitor-0.wave-4.waveMaxAmp=1000.0

monitor-0.wave-4.waveMinAmp=-1000.0

monitor-0.wave-4.zeroPhaseShift=true

monitor-0.wave-5.alternateOrientationCode=Z12

monitor-0.wave-5.autoScaleAmp=true

monitor-0.wave-5.autoScaleAmpMemory=false

monitor-0.wave-5.autoScalePower=false

monitor-0.wave-5.autoScalePowerMemory=true

monitor-0.wave-5.autoScaleSpectrogramPower=false

monitor-0.wave-5.autoScaleSpectrogramPowerMemory=true

monitor-0.wave-5.binSize=2.0

monitor-0.wave-5.channel=AUNO BHZ AV --

monitor-0.wave-5.filter.corner1=1.0

monitor-0.wave-5.filter.corner2=10.0

monitor-0.wave-5.filter.order=4

monitor-0.wave-5.filter.samplingRate=100.0

monitor-0.wave-5.filter.type=B

monitor-0.wave-5.filterOn=false

monitor-0.wave-5.nfft=0

monitor-0.wave-5.removeBias=true

monitor-0.wave-5.spectraLogFreq=true

monitor-0.wave-5.spectraLogPower=true

monitor-0.wave-5.spectraMaxFreq=25.0

monitor-0.wave-5.spectraMaxPower=5.0

monitor-0.wave-5.spectraMinFreq=0.0

monitor-0.wave-5.spectraMinPower=1.0

monitor-0.wave-5.spectrogramLogPower=true

monitor-0.wave-5.spectrogramMaxFreq=25.0

monitor-0.wave-5.spectrogramMaxPower=120.0

monitor-0.wave-5.spectrogramMinFreq=0.0

monitor-0.wave-5.spectrogramMinPower=20.0

monitor-0.wave-5.spectrogramOverlap=0.859375

monitor-0.wave-5.useAlternateOrientationCode=false

monitor-0.wave-5.useAlternateSpectrum=false

monitor-0.wave-5.useUnits=true

monitor-0.wave-5.viewType=W

monitor-0.wave-5.waveMaxAmp=1000.0

monitor-0.wave-5.waveMinAmp=-1000.0

monitor-0.wave-5.zeroPhaseShift=true

monitor-0.wave-6.alternateOrientationCode=Z12

monitor-0.wave-6.autoScaleAmp=true

monitor-0.wave-6.autoScaleAmpMemory=false

monitor-0.wave-6.autoScalePower=false

monitor-0.wave-6.autoScalePowerMemory=true

monitor-0.wave-6.autoScaleSpectrogramPower=false

monitor-0.wave-6.autoScaleSpectrogramPowerMemory=true

monitor-0.wave-6.binSize=2.0

monitor-0.wave-6.channel=AUSB BHZ AV --

monitor-0.wave-6.filter.corner1=1.0

monitor-0.wave-6.filter.corner2=10.0

monitor-0.wave-6.filter.order=4

monitor-0.wave-6.filter.samplingRate=100.0

monitor-0.wave-6.filter.type=B

monitor-0.wave-6.filterOn=false

monitor-0.wave-6.nfft=0

monitor-0.wave-6.removeBias=true

monitor-0.wave-6.spectraLogFreq=true

monitor-0.wave-6.spectraLogPower=true

monitor-0.wave-6.spectraMaxFreq=25.0

monitor-0.wave-6.spectraMaxPower=5.0

monitor-0.wave-6.spectraMinFreq=0.0

monitor-0.wave-6.spectraMinPower=1.0

monitor-0.wave-6.spectrogramLogPower=true

monitor-0.wave-6.spectrogramMaxFreq=25.0

monitor-0.wave-6.spectrogramMaxPower=120.0

monitor-0.wave-6.spectrogramMinFreq=0.0

monitor-0.wave-6.spectrogramMinPower=20.0

monitor-0.wave-6.spectrogramOverlap=0.859375

monitor-0.wave-6.useAlternateOrientationCode=false

monitor-0.wave-6.useAlternateSpectrum=false

monitor-0.wave-6.useUnits=true

monitor-0.wave-6.viewType=W

monitor-0.wave-6.waveMaxAmp=1000.0

monitor-0.wave-6.waveMinAmp=-1000.0

monitor-0.wave-6.zeroPhaseShift=true

monitor-0.wave-7.alternateOrientationCode=Z12

monitor-0.wave-7.autoScaleAmp=true

monitor-0.wave-7.autoScaleAmpMemory=false

monitor-0.wave-7.autoScalePower=false

monitor-0.wave-7.autoScalePowerMemory=true

monitor-0.wave-7.autoScaleSpectrogramPower=false

monitor-0.wave-7.autoScaleSpectrogramPowerMemory=true

monitor-0.wave-7.binSize=2.0

monitor-0.wave-7.channel=AUSS BHZ AV --

monitor-0.wave-7.filter.corner1=1.0

monitor-0.wave-7.filter.corner2=10.0

monitor-0.wave-7.filter.order=4

monitor-0.wave-7.filter.samplingRate=100.0

monitor-0.wave-7.filter.type=B

monitor-0.wave-7.filterOn=false

monitor-0.wave-7.nfft=0

monitor-0.wave-7.removeBias=true

monitor-0.wave-7.spectraLogFreq=true

monitor-0.wave-7.spectraLogPower=true

monitor-0.wave-7.spectraMaxFreq=25.0

monitor-0.wave-7.spectraMaxPower=5.0

monitor-0.wave-7.spectraMinFreq=0.0

monitor-0.wave-7.spectraMinPower=1.0

monitor-0.wave-7.spectrogramLogPower=true

monitor-0.wave-7.spectrogramMaxFreq=25.0

monitor-0.wave-7.spectrogramMaxPower=120.0

monitor-0.wave-7.spectrogramMinFreq=0.0

monitor-0.wave-7.spectrogramMinPower=20.0

monitor-0.wave-7.spectrogramOverlap=0.859375

monitor-0.wave-7.useAlternateOrientationCode=false

monitor-0.wave-7.useAlternateSpectrum=false

monitor-0.wave-7.useUnits=true

monitor-0.wave-7.viewType=W

monitor-0.wave-7.waveMaxAmp=1000.0

monitor-0.wave-7.waveMinAmp=-1000.0

monitor-0.wave-7.zeroPhaseShift=true

monitor-0.wave-8.alternateOrientationCode=Z12

monitor-0.wave-8.autoScaleAmp=true

monitor-0.wave-8.autoScaleAmpMemory=false

monitor-0.wave-8.autoScalePower=false

monitor-0.wave-8.autoScalePowerMemory=true

monitor-0.wave-8.autoScaleSpectrogramPower=false

monitor-0.wave-8.autoScaleSpectrogramPowerMemory=true

monitor-0.wave-8.binSize=2.0

monitor-0.wave-8.channel=AUW BHZ AV --

monitor-0.wave-8.filter.corner1=1.0

monitor-0.wave-8.filter.corner2=10.0

monitor-0.wave-8.filter.order=4

monitor-0.wave-8.filter.samplingRate=100.0

monitor-0.wave-8.filter.type=B

monitor-0.wave-8.filterOn=false

monitor-0.wave-8.nfft=0

monitor-0.wave-8.removeBias=true

monitor-0.wave-8.spectraLogFreq=true

monitor-0.wave-8.spectraLogPower=true

monitor-0.wave-8.spectraMaxFreq=25.0

monitor-0.wave-8.spectraMaxPower=5.0

monitor-0.wave-8.spectraMinFreq=0.0

monitor-0.wave-8.spectraMinPower=1.0

monitor-0.wave-8.spectrogramLogPower=true

monitor-0.wave-8.spectrogramMaxFreq=25.0

monitor-0.wave-8.spectrogramMaxPower=120.0

monitor-0.wave-8.spectrogramMinFreq=0.0

monitor-0.wave-8.spectrogramMinPower=20.0

monitor-0.wave-8.spectrogramOverlap=0.859375

monitor-0.wave-8.useAlternateOrientationCode=false

monitor-0.wave-8.useAlternateSpectrum=false

monitor-0.wave-8.useUnits=true

monitor-0.wave-8.viewType=W

monitor-0.wave-8.waveMaxAmp=1000.0

monitor-0.wave-8.waveMinAmp=-1000.0

monitor-0.wave-8.zeroPhaseShift=true

monitor-0.wave-9.alternateOrientationCode=Z12

monitor-0.wave-9.autoScaleAmp=true

monitor-0.wave-9.autoScaleAmpMemory=false

monitor-0.wave-9.autoScalePower=false

monitor-0.wave-9.autoScalePowerMemory=true

monitor-0.wave-9.autoScaleSpectrogramPower=false

monitor-0.wave-9.autoScaleSpectrogramPowerMemory=true

monitor-0.wave-9.binSize=2.0

monitor-0.wave-9.channel=AUWS BHZ AV --

monitor-0.wave-9.filter.corner1=1.0

monitor-0.wave-9.filter.corner2=10.0

monitor-0.wave-9.filter.order=4

monitor-0.wave-9.filter.samplingRate=100.0

monitor-0.wave-9.filter.type=B

monitor-0.wave-9.filterOn=false

monitor-0.wave-9.nfft=0

monitor-0.wave-9.removeBias=true

monitor-0.wave-9.spectraLogFreq=true

monitor-0.wave-9.spectraLogPower=true

monitor-0.wave-9.spectraMaxFreq=25.0

monitor-0.wave-9.spectraMaxPower=5.0

monitor-0.wave-9.spectraMinFreq=0.0

monitor-0.wave-9.spectraMinPower=1.0

monitor-0.wave-9.spectrogramLogPower=true

monitor-0.wave-9.spectrogramMaxFreq=25.0

monitor-0.wave-9.spectrogramMaxPower=120.0

monitor-0.wave-9.spectrogramMinFreq=0.0

monitor-0.wave-9.spectrogramMinPower=20.0

monitor-0.wave-9.spectrogramOverlap=0.859375

monitor-0.wave-9.useAlternateOrientationCode=false

monitor-0.wave-9.useAlternateSpectrum=false

monitor-0.wave-9.useUnits=true

monitor-0.wave-9.viewType=W

monitor-0.wave-9.waveMaxAmp=1000.0

monitor-0.wave-9.waveMinAmp=-1000.0

monitor-0.wave-9.zeroPhaseShift=true

monitor-0.waves=10

monitor-0.x=24

monitor-0.y=24

name=Augustine

